Question 1. What are data structures, and why are they important?
- Way of organizing and storing data is data structure. Idea of data is to access and manipulate it easily, as data is of no use if it is not manipulated effectively.

Question 2. Explain the difference between mutable and immutable data types with examples.
- Mutable data are the data that can be accessed and manipulated after storing it. For example, a list is Mutable data type.
Immutable data are the data that once stored, are fixed. For example, Adhar card number, PAN card number. They are fixed for a fixed person. Tuples are of immutable data type.

Question 3. What are the main differences between lists and tuples in Python?
- List is mutable whereas tuples are immutable data type.

Question 4. Describe how dictionaries store data.
- Discionaries store data in key-value pairs. They are unordered collection and defined using curly bracket '{}'. They are immutable.

Question 5. Why might you use a set instead of a list in Python?
- Sets are unordered collections of unique elements. Written in curly brackets “{}”. Repeated elements shall be ignored (removed) and executed only single values. There is no order while executing. Elements can be added or removed in sets. That means sets are mutable. That is why sometimes Set are used insetead of Lists. Sets are used to get unique elements. To check how many unique elements are in the set.

Question 6. What is a string in Python, and how is it different from a list?
- String is a collection of unchangeable characters. Unlike list, strings are immutable.

Question 7. How do tuples ensure data integrity in Python?
- Tuples are immutable. Hence, once created, the data from tuple can not be changed.

Question 8. What is a hash table, and how does it relate to dictionaries in Python?
- It is a data type that store data by key-valuepairs. Each key is unique and its position is determined by hash dunction.

Question 9. Can lists contain different data types in Python?
- Yes, list can store anything. Technically anything. It can store heterogeneous data, for eg, int, str, float and so on. It is an ordered collection of elements that can be of any data types.

Question 10.  Explain why strings are immutable in Python?
- To secure the data such as passwords, strings need to be immutable. Once written, the strings are fixed.

Question 11. What advantages do dictionaries offer over lists for certain tasks?
- They are immutable, but can be converted to lists if we required to access and manipulate dictionaries.

Question 12. Describe a scenario where using a tuple would be preferable over a list.
- Once we create a tuple, it is immutable data type and hence, when we require our data to be constant throughout, then we prefer tuple over list.

Question 13. How do sets handle duplicate values in Python?
- It will ignore duplicate values as duplicates are not allowed in sets.

Queston 14. How does the “in” keyword work differently for lists and dictionaries?
- 'in' in list checks whether a specific value is present in the list or not.
'in' in dictionaries checks whether the vlaue exists in the discionary as a key or not.

Question 15. Can you modify the elements of a tuple? Explain why or why not?
- We can access the data from the tuple by indexing or slicing. But we can not modify the data as Tuple are immutable. Attempting to modify will throw an error.

Question 16. What is a nested dictionary, and give an example of its use case?
- Dictionaries containing other dictionaries as values forms a nested dictionary. These can be accessed and modified just like any other dictionary.

Question 17. Describe the time complexity of accessing elements in a dictionary.
- -

Question 18.  In what situations are lists preferred over dictionaries?
- Lists are prefered when we frequently want to manipulate our data, add or remove.

Question 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries retrieve data based on key-value pairs, i.e., only when the key is known. They are considered unordered because they are arranged in random order.

Question 20.  Explain the difference between a list and a dictionary in terms of data retrieval.
- Lists use index to retrieve data in it. While dictionaries use keys to do the same.

In [1]:
#Question 1. Write a code to create a string with your name and print it.
Name = "Aditya"
print(Name)

Aditya

In [2]:
#Question 2. Write a code to find the length of the string "Hello World".
a = "Hello World"
len(a)

11

In [8]:
#Question 3. Write a code to slice the first 3 characters from the string "Python Programming".
a= "Python Programming"
print(a[0:3])

Pyt

In [10]:
#Question 4. Write a code to convert the string "hello" to uppercase.
a= "hello"
print(a.upper())

HELLO

In [13]:
#Question 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
a= "I like apple"
print(a.replace("apple", "orange."))

I like orange.

In [16]:
#Question 6. Write a code to create a list with numbers 1 to 5 and print it.
L= range(1, 6)
print(list(L))

[1, 2, 3, 4, 5]

In [22]:
#Question 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
New_list = [1, 2, 3, 4]
print(list(New_list))
New_list.append(10)
print(list(New_list))

[1, 2, 3, 4]
[1, 2, 3, 4, 10]

In [24]:
#Question 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
Remove_function = [1, 2, 3, 4, 5]
print(list(Remove_function))
Remove_function.remove(3)
print(list(Remove_function))

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [27]:
#Question 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
Access_list = ['a', 'b', 'c', 'd']
print(list(Access_list))
print(Access_list[2])

['a', 'b', 'c', 'd']
c

In [29]:
#Question 10. Write a code to reverse the list [10, 20, 30, 40, 50].
Reverse_list= [10, 20, 30, 40, 50]
print(list(Reverse_list))
Reverse_list.reverse()
print(list(Reverse_list))

[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

In [33]:
#Question 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
Question11= (100, 200, 300)
print(tuple(Question11))

(100, 200, 300)

In [35]:
#Question 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
Question12= ('red', 'green', 'blue', 'yellow')
print(tuple(Question12))
print(Question12[-2])

('red', 'green', 'blue', 'yellow')
blue

In [36]:
#Question 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
Question13= (10, 20, 5, 15)
print(tuple(Question13))
print(min(Question13))

(10, 20, 5, 15)
5

In [39]:
#Question 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
Index_Tuple= ('dog', 'cat', 'rabbit')
print(tuple(Index_Tuple))
print(Index_Tuple.index('cat'))

('dog', 'cat', 'rabbit')
1

In [43]:
#Question 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
Fruits= ('apple', 'guava', 'banana')
print(tuple(Fruits))
print('kiwi' in Fruits)
Fruits2= ('apple', 'kiwi', 'guava')
print(tuple(Fruits2))
print('kiwi' in Fruits2)

('apple', 'guava', 'banana')
False
('apple', 'kiwi', 'guava')
True

In [44]:
#Question 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
Question16= {'a', 'b', 'c'}
print(set(Question16))

{'c', 'a', 'b'}

In [48]:
#Question 17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
Question_17 = {1, 2, 3, 4, 5}
print(set(Question_17))
Question_17.clear()
print(Question_17)

{1, 2, 3, 4, 5}
set()

In [49]:
#Question 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
Question_18 = {1, 2, 3, 4}
print(set(Question_18))
Question_18.remove(4)
print(Question_18)

{1, 2, 3, 4}
{1, 2, 3}

In [56]:
#Question 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
Union_set1= {1, 2, 3}
print(set(Union_set1))
Union_set2= {3, 4, 5}
print(set(Union_set2))
print(Union_set1.union(Union_set2))
#3 will be entered only once as set ignores duplicates.

{1, 2, 3}
{3, 4, 5}
{1, 2, 3, 4, 5}

In [59]:
#Question 20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
Question20_1= {1, 2, 3}
print(set(Question20_1))
Question20_2= {2, 3, 4}
print(set(Question20_2))
print(Question20_1.intersection(Question20_2))

{1, 2, 3}
{2, 3, 4}
{2, 3}

In [67]:
#Question 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
Question21= {"name", "age", "city"}
print(Question21)

{'age', 'name', 'city'}

In [69]:
#Question 22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
John_info= {'name': 'John', 'age': 25}
print(John_info)
John_info['country']="USA"
print(John_info)

{'name': 'John', 'age': 25}
{'name': 'John', 'age': 25, 'country': 'USA'}

In [70]:
#Question 23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
Question23= {'name': 'Alice', 'age': 30}
print(Question23)
print(Question23['name'])

{'name': 'Alice', 'age': 30}
Alice

In [72]:
#Question 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
Bob_info = {'name': 'Bob', 'age': 22, 'city': 'New York'}
print(Bob_info)
Bob_info.pop('age')
print(Bob_info)

{'name': 'Bob', 'age': 22, 'city': 'New York'}
{'name': 'Bob', 'city': 'New York'}

In [73]:
#Question 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
Alice_info = {'name': 'Alice', 'city': 'Paris'}
print(Alice_info)
print('city' in Alice_info)

{'name': 'Alice', 'city': 'Paris'}
True

In [79]:
#Question 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
Question26_list= [1, 2, 3, 4, 5]
print(Question26_list)
Question26_tuple= (1, 2, 3, 4, 5)
print(Question26_tuple)
Question26_dict= {1, 2, 3, 4, 5}
print(Question26_dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}

In [82]:
#Question 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
RandomQ27= [2, 1, 20, 51, 3]
print(RandomQ27)
RandomQ27.sort()
print(RandomQ27)

[2, 1, 20, 51, 3]
[1, 2, 3, 20, 51]

In [83]:
#Question 28. Write a code to create a list with strings and print the element at the third index.
Question28= ['Aditya', 'b', 'd', 'p']
print(Question28)
print(Question28[3])

['Aditya', 'b', 'd', 'p']
p

In [86]:
#Question 29.  Write a code to combine two dictionaries into one and print the result.
Dictionary_1 = {1, 2, 3, 4}
print(Dictionary_1)
Dictionary_2 = {5, 6, 7, 8}
print(Dictionary_2)
print(Dictionary_1.union(Dictionary_2))

{1, 2, 3, 4}
{8, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8}

In [88]:
#Question 30. Write a code to convert a list of strings into a set.
Question30 = ['apple', 'banana', 'guava', 'mango']
print(Question30)
Question30 = set(Question30)
print(Question30)

['apple', 'banana', 'guava', 'mango']
{'banana', 'mango', 'apple', 'guava'}